

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    color: rgb(0, 0, 0);
}


.NavItem:hover{
  background-color: #c9a803;
  border-radius: 20px;
}

.logo {
    font-size: 1.5em;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu a {
    color: rgb(0, 0, 0);
    font-size: larger;
    text-decoration: none;
    padding: 10px;
}

.shoppingcart{
    font-size: 28px;
}

.hamburger {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 700px) {

    .navbar{
        text-align: center;
    }
    .menu {

        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #ffffff;
    }

    .menu.open {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}


/* //////////////// Main /////////////// */


.littleLemon{
    padding: 10px;
    color: #F4CE14;
    font-size: 64px;
    font-weight: 500;
    word-wrap: break-word;
}

.chicago{
    padding: 10px;
    color: #fdfffdd7;
    font-size: 30px;
    font-weight: 400;
    word-wrap: break-word;
}

.FindTable{
    text-align: center;
    padding: 20px;
    color: #fffefe;
    font-size: 25px;
}

.resturantPic{
    display: flex;
    justify-content: space-around;
}
.resturanrImage{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 45%;
    border-radius: 20px;
}

.tableReservation{
    color: #FFF;
}

.tableReservation .inputDate{
    width: 30%;
    border-radius: 7px;
    padding: 7px;
    margin: 10px;
}

.tableReservation select{
    width: 65%;
    padding: 7px;
    background-color: #FFF;
    border-radius: 7px;
    margin: 10px;
}

.Seating{
    color: #FFF;
    font-size: 18px;
    padding-bottom: 10px;
}

.SeatingOption{
    padding: 20px;
    display:grid;
    padding-left: 100px;
    padding-right: 150px;
}


.SeatingOption div{
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.submitButton{
    background-color:#F4CE14;
    border-radius: 20px;
    color: black;
    text-align: center;
    font-size: 24px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: 0;
    margin: 20px;
}

.submitButton:hover{
  background-color: #b5c245;
  color: #000000;
}


/* ////////////week-specials/////////////////// */

.special-section {
    margin-top: 30px;
    padding: 40px 70px;
    /* text-align: center; */
}

.week-specials {
    margin-top: 120px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.week-specials h2 {
    color: #083b6b;
    font-size: 2rem;
}

.meal-cards {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  @media only screen and (min-width: 768px) {
    .meal-cards {
      flex-direction: row;
    }
  }


.meal-card {
    box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
    margin: 16px;
    width: 350px;
    height: 470px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  .meal-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .meal-details {
    padding: 16px;
  }

  .meal-price {
    font-weight: bold;
    color: #007bff;
  }

  .meal-description p {
    color: #555;
    padding: 16px;
  }

  .delivery-link {
    margin-top: auto;
  }

  .delivery {
    color: rgb(0, 0, 0);
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    margin: 40px 0 20px 0;
  }
  .delivery:hover {
    color: #007bff;
  }

  .delivery i {
    margin-left: 5px;
  }



  /* ///////////////////Customer//////////////////// */
  .testimonial-section {
    background-color: #495E57;
    text-align: center;
    padding: 40px 0;
  }
  
  .testimonial-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  @media only screen and (min-width: 768px) {
    .testimonial-cards {
      justify-content: space-between;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .testimonial-cards {
      justify-content: space-around;
    }
  }

  .testimonial-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 16px;
    padding: 16px;
    background-color: #fff;
    text-align: center;
    transition: transform 0.2s ease-in-out;
  
    &:hover {
      transform: scale(1.05);
    }
  }
  
  .customer-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .customer-info h4 {
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .rating {
    margin-bottom: 10px;
  }
  
  .star-icon {
    color: #fdbc2b;
    margin-right: 2px;
  }
  
  .customer-quote {
    font-style: italic;
  }


  /* ////////////////////// */
  .story {
    display: flex;
    justify-content: center;
  }
  
  .story h1 {
    color: #c9a803;
    font-size: 40px;
  }
  .story h2 {
    color: #0000005e;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .story p {
    color: #000000d7;
 
  }

  .your-section {
    display: flex;
    justify-content: center;
    max-width: 70%;
    margin: 50px;
  }
  
  .text-container {
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    max-width: 40%;
    box-sizing: border-box;
    font-size: larger;
  }

  .chef-image {
    max-width:90%;
    border-radius: 20px;
    margin-top: 5px;
  }
  
  @media only screen and (max-width: 768px) {
    .your-section {
      flex-direction: column;
      align-items: center;
    }
  
    .text-container {
      max-width: 100%;
      margin: 0;
      padding: 0;
    }


    .chef-image {
      max-width: 100%;
    }
  }



  .under-construction {
    border: 1px #c90000 solid;
    align-items: center;
    padding: 1.875rem 0 1.875rem 0;
    margin: 40px;
    max-width: 100%;
    height: 10vh;
    text-align: center;
    font-size: 40px;
  }


  .buttonClick{
    background-color:#F4CE14;
    border-radius: 20px;
    color: black;
    text-align: center;
    font-size: 24px;
    
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 13px;
    padding-bottom: 13px;
    border: 0;
  }
  .buttonClick:hover{
    background-color: #16af7c;
    color: #f3f3f3;
  }